* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #ffffff;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 200px;
    background: #cfc7a8;
}

.nav,
.nav .nav-links {
    display: flex;
    align-items: center;
}

.nav {
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.logo .material-symbols-outlined {
    font-size: 50px;
}

.nav .nav-links {
    column-gap: 100px;
    list-style: none;
}

.nav.openSearch .nav-links a {
    opacity: 0;
    pointer-events: none;
}



.nav .search-icon {
    color: red;
    font-size: 30px;
    cursor: pointer;
}

.nav .search-box {
    position: absolute;
    right: 250px;
    height: 45px;
    max-width: 555px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s linear;
    display: flex;
}

.nav .search-box button {
    width: 75px;
}

.nav .search-box button:hover {
    background: rgb(163, 163, 226);
}

.nav.openSearch .search-box {
    opacity: 1;
    pointer-events: auto;
}

.search-container {
    display: flex;
    justify-content: center;
}

.search-box .search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    color: black;
    transform: translateY(-50%);
}

.search-box input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    color: white;
    background-color: rgb(190, 154, 160);
    padding: 0 15px 0 rgb(53, 42, 44);
}

.search-box input::placeholder {
    color: white;
    padding: 10px;
}

.nav .navOpen,
.nav .navClose {
    display: none;
}



.wrapper {
    width: 95%;
    margin: 0 auto;
}

.button-value{
    border: 2px solid #AF9164;
    padding: 1em 2.2em;
    border-radius: 3em;
    background-color: transparent;
    cursor: pointer;
    font-size: 12px;
    
}

.active {
    background-color: #B3B6B7;
    color: white;
}

#buttons {
    padding-top: 10rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
}

#products{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1.5em;
    padding: 2rem 10rem;
}

.card {
    background-color: white;
    max-width: 18em;
    margin-top: 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
}

.image-container {
    text-align: center;
}

img {
    max-width: 100%;
    object-fit: contain;
    height: 15em;
}

.container {
    padding-top: 1em;
    color: #110f29;
}

.container h5 {
    font-weight: 700;
}

.hide {
    display: none;
}


@media screen and (max-width: 1160px) {
    .nav {
        padding: 15px 100px;
    }
    .nav .search-box {
        right: 150px;
    }
}

@media screen and (max-width: 920px) {
    .nav {
        padding: 15px 50px;
    }

    .nav .search-box {
        right: 100px;
        max-width: 400px;
    }
}



@media screen and (max-width: 768px) {

    .nav .navOpen,
    .nav .navClose {
        display: block;
    }

    .nav {
        padding: 15px 20px;
    }

    .nav .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        max-width: 280px;
        width: 100%;
        padding-top: 100px;
        row-gap: 30px;
        flex-direction: column;
        background-color: #ffcc00;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        transition: all 0.4s ease;
        z-index: 100;
    }

    .nav.openNav .nav-links {
        left: 0;
    }

    .nav .navOpen {
        color: #353842;
        font-size: 20px;
        cursor: pointer;
    }

    .nav .navClose {
        position: absolute;
        top: 20px;
        right: 20px;
        color: #353842;
        font-size: 20px;
        cursor: pointer;
    }


    .nav .search-box {
        top: calc(100% + 10px);
        max-width: calc(100% - 20px);
        right: 50%;
        transform: translateX(50%);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

    img {
        max-width: 100%;
        object-fit: contain;
        height: 10em;
    }

    .card {
        max-width: 10em;
        margin-top: 1em;
    }

    #products{
        grid-template-columns: auto auto;
        grid-column-gap: 1em;
    }
}